<h1>{{title}} {{version}}</h1>
<p>Willkommen bei der {{title}} Version {{version}}</p>

<div id="map" class="form-map"></div>
<div id="result-view"></div>

<button class="btn waves-effect waves-light" id="submitButton">Berechne Geschwindigkeit
    <i class="material-icons right">send</i>
</button>

<button id="clearInput" class="btn waves-effect waves-light">Lösche Punkte
    <i class="material-icons right">location_off</i>
</button>

<form>
    <div id="input-form-elements"></div>
</form>