body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#border-div {
  padding: 50px;
}

#logo {
    max-width: 100%;
    max-height: 100%;
}



/*Input-Forms*/

label {
    color: #FFFFFF !important;
}

input[type=text] {
    color: #7e76ff
}

.small-input {
    width: 15vw;
    margin-right: 3vw;
    display: inline-block;
}

/*END Input-Forms
----------------------------*/



/*api.hbs*/

#velocityContainer, #surroundingsContainer {
    margin-left: 6em;
}

h3.url-title {
    margin-top: 5vw !important;
    font-weight: bold !important;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

    /*Collapsible method-description*/
    .html-method {
        text-decoration: none;
        color: #fff;
        text-align: center;
        letter-spacing: .5px;
        width: 100px;
        float: left;
        margin-right: 10px;
    }

    .get {
        background-color: #26a69a;
    }

    .post {
        background-color: #42a5f5;
    }

    .collapsible-header {
        padding: 0 !important;
    }

    .collapsible-body {
        overflow: hidden;
    }

    .schema {
        float: left;
        width: 50%;
    }

    .schema, .possible-input {
        min-width: 400px;
    }

    .possible-output {
        clear: left;
    }


    /*JSON Syntax Highlighting*/
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: blue; }
    .boolean { color: darkorange; }
    .null { color: magenta; }
    .key { color: #963e96; }

/*END api.hbs
----------------------------*/





/*taggingIndex.hbs, speedIndex.hbs and surroundingsIndex.hbs */

    /*Leaflet Map*/
    .form-map {
        position: fixed;
        top: 135px;
        right: 20px;
        width: 500px;
        height: 400px;
        z-index: 10;
    }


    /*Buttons*/
    #clearInput {
        position: fixed;
        right: 20px;
        top: 550px;
    }

    #submitButton {
        position: fixed;
        right: 302px;
        top: 550px;
    }


    /*loading-view*/
    #loading-icon {
        position: fixed;
        left: 50%;
        top: 50%;
        display: none;
        z-index: 10;
    }

    #loading-layer {
        display: none;
        filter: alpha(opacity=60); /* IE */
        opacity: 0.6; /* Safari, Opera */
        -moz-opacity:0.60; /* FireFox */
        z-index: 9;
        height: 100%;
        width: 100%;
        background: white no-repeat center;
        position: fixed;
        top: 0;
        left: 0;
    }


    /*result-view*/
    #result-view {
        position: fixed;
        left: 20px;
        top: 135px;
        width: 600px;
        z-index: 10;
        visibility: hidden;
    }

    #result-view > ul {
        border: solid black 10px;
    }

    .collection-header > h4 {
        font-weight: bold;
        font-size: large;
    }

    .collection.with-header {
        margin: 0;
    }

    .error {
        color: red !important;
    }

/*END taggingIndex.hbs
----------------------------*/